/nodo/nbproject/private/
/nodoPrincipal/nbproject/private/
/nodo2/build/
/nodo3/build/
/nodo4/build/
/nodoPrincipal/build/
/nodo2/nbproject/private/
/nodo3/nbproject/private/
/nodo4/nbproject/private/